<style>
  .filters {
    list-style-type: none;
    display: flex;
    margin-left: 5px;
    padding-left: 0px;
  }
  
  .filters li a {
    color: #3b5047;
    margin: 3px;
    padding: 3px 10px;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 3px;
  }
  
  .filters li a.selected {
    border-color: #8C0E0E;
  }
  
  .todo-list li {
    list-style-type: none;
    margin-top: 10px;
  }
  
  .todo-list li.finished label {
    color: #d9d9d9;
    text-decoration: line-through;
  }
</style>
<div id="todoApp">
  <h1 v-html="title"></h1>
  <h2 v-bind:style="{ color: fontColor, fontSize: fontSize}" v-html="desc"></h2>
  <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
  <ul class="filters">
    <!-- /#/all からallを持ってきて、app.visibilityに入れてる</-->
    <li>
      <button>
			<a href="#/all" v-bind:class="{ selected: visibility == 'all' }">All</a>
			</button>
    </li>
    <li><button>
		<a href="#/active" v-bind:class="{ selected: visibility == 'active' }">Active</a></button>
    </li>
    <li><button>
            <a href="#/finished" v-bind:class="{ selected: visibility == 'finished' }">Finished!!</a></button>
    </li>
  </ul>
  <!-- ここでのv-forは、todosの1要素が itemに渡される -->
  <ul class="todo-list">
    <li v-for="todo in filteredTodos" v-bind:class="{finished: todo.finished}">
      <input class="toggle" type="checkbox" v-model="todo.finished">
      <label v-html="todo.content"></label>
      <input type="button" v-on:click="onDelete(todo)" value="Delete">
    </li>
  </ul>
</div>
<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./src/js/main.js"></script>